.password-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.password-display {
    word-break:break-all;
    width: 33ch;
    height: 6ch;
    margin: 1rem auto 0;
    font-family: monospace;
    font-size: 1.5rem;
}

.password-display .digit{
    color: #7d9de0;
}


.password-display .symbol{
    color: #e48762;
}